# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

voxelized_train_input.pth
polycube_target.pth
DeepLearningPolycubing/polycube_target_all.pth
DeepLearningPolycubing/voxelized_train_input_all.pth
